<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 seconds">

	<contextName>logback</contextName>

	<property name="log.home" value="chlogs"/>
	<!-- 	<include resource="org/springframework/boot/logging/logback/base.xml" /> -->
	<jmxConfigurator/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 	   encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder  by default -->
		<!--        <encoder>-->
		<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
		<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger) - %highlight(%msg) %n-->
		<!--            </pattern>-->
		<!--        </encoder>-->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>

	</appender>
	<appender name="file"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.home}/chlog.log</File>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}[%M][%L] %tid
				%X{traceId} -%msg%n
			</pattern>
		</encoder>
		<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.home}/chlog.%d{yyyy-MM-dd}.log
			</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger -
				%msg%n
			</pattern>
		</layout>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT"/>
		<!--不输出日志到文件-->
		<appender-ref ref="file"/>
	</root>


	<!--基础配置-->
	<logger name="io" level="ERROR"/>
	<logger name="sun" level="ERROR"/>
	<logger name="de" level="ERROR"/>
	<logger name="javax" level="WARN"></logger>
	<logger name="reactor" level="ERROR"/>
	<logger name="springfox" level="ERROR"/>
	<logger name="com.netflix" level="ERROR"/>
	<logger name="com.alibaba" level="ERROR"/>
	<logger name="com.sun" level="ERROR"/>
	<logger name="com.zaxxer" level="ERROR"/>
	<logger name="com.github" level="ERROR"/>
	<logger name="org.thymeleaf" level="ERROR"/>
	<logger name="org.mongodb" level="ERROR"/>
	<logger name="org.apache" level="ERROR"/>
	<logger name="org.I0Itec" level="ERROR"/>
	<logger name="org.jboss" level="ERROR"/>
	<logger name="org.hibernate" level="WARN"/>
	<logger name="org.redisson" level="ERROR"/>
	<logger name="com.dtflys" level="warn"/>
	<logger name="com.arangodb" level="warn"/>
	<logger name="org.elasticsearch" level="info"/>
	<logger name="com.yishuifengxiao" level="warn"/>
	<logger name="com.alibaba" level="warn"/>
	<!--基础配置-->

	<!-- 显示加载的配置-->
	<shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>
</configuration>
